{% extends 'accounts/base.html' %}
{% block content%}
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                {{ formSet.management_form }}
                {% for form in formSet %}
                
                {{form}}
                <hr>
                {% endfor %}
                {% for form in forms %}
                
                {{form}} 
               
                {% endfor %}



                <input type="submit" name="submit" id="">
            </form>
        </div>
    </div>
</div>

{% endblock%}