<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card border-info text-center">
                <div class="card-header border-info">
                    <h5 class="card-title shadow text-info ">total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-info ">{{total_orders}}</h3>
                </div>

            </div>
        </div>
    </div>


        <div class="col">
            <div class="col-md">
                <div class="card text-center border-success">
                    <div class="card-header border-success">
                        <h5 class="card-title  shadow text-success">Orders Delivered</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title text-success">{{delivered}}</h3>
                    </div>
    
                </div>
            </div>
        </div>
    
            <div class="col">
                <div class="col-md">
                    <div class="card text-center border-danger">
                        <div class="card-header border-danger">
                            <h5 class="card-title  shadow text-danger">Orders pending</h5>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title text-danger">{{pending}}</h3>
                        </div>
        
                    </div>
                </div>
            </div>
        </div>
      